app-search {
  margin: 5rem 0;
}
app-heading {
  // background: var(--accent);
  width: 60vw;
  margin-top: 5rem !important;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

app-data-view {
  background: transparent;
}
