<p-table
  [columns]="cols"
  [value]="categories"
  [tableStyle]="{ 'min-width': '20rem', width: '80vw' , backgroundColor: '#fff'}"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        {{ cols[0] }}
      </th>
      <th pSortableColumn="score_out_of_10">
        {{ cols[1] }}<p-sortIcon field="score_out_of_10"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category let-columns="columns">
    <tr [style]="{ backgroundColor: category.color + '80', color: '#000', fontWeight: '900'}">
    <!-- <tr [style]="{ color: category.color, fontWeight: '900'}"> -->
      <td>
        {{ category.name }}
      </td>
      <td>
        {{ category.score_out_of_10 | number : "1.1-2" }}
      </td>
    </tr>
  </ng-template>
</p-table>
