/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Nunito', sans-serif;
}
:root{
  --primary: #5073da;
  --accent: #eb5757;
}
.p-button{
  background:var(--accent) !important ;
  border:1px solid var(--accent) !important;
  outline: var(--accent);
}
.p-inputtext:enabled:focus, .p-inputtext:enabled:hover{
  border-color: var(--accent) !important;
  box-shadow: 0 0 0 1px var(--accent) !important;
}
.p-card.p-component{
  display: flex;
  flex-direction: row;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  flex-direction: row;
}
.p-datatable-wrapper{
  border-radius: 2px;
}
.column{
  flex-direction: column;
}
canvas{
  padding: 1rem;
}
.p-card-body,.p-card-header{
  flex:1;
}
body{
  background-color: var(--primary);
  color: var(--main-text);
}
@media screen  and (max-width: 720px) {
  .p-card.p-component{
    flex-direction: column;
  }
}

