/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
:root{
  --primary: #5073da;
  // ;
  // --main-text:#c2b552 ;
  // --accent:
  // #c2b552;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

body{
  background-color: var(--primary);
  color: var(--main-text);
}

